#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(0, 136, 255, 0.155);
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.458);
}

.search input {
  border-radius: 10px;
  border: 1px solid white;
  margin: 0 15px;
}

.search button {
  border: 1px solid gray;
  transition: background-color 1s ease;
}

.search div {
  display: flex;
  flex-direction: row;
  background-color: rgb(13, 70, 103);
  margin: 0 45px;
  padding: 10px;
  border-radius: 10px;
}

.search div h3 {
  margin: 0 0px 0 0;
}

.card {
  padding: 2em;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.head {
  width: 20%;
}

.header {
  background-color: rgb(11, 22, 68, 0.6);
  width: 20%;
  height: 1500px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.header h1 {
  margin: 0;
  padding: 10px;
}
.cardcont {
  width: 80%;
  margin: 50px 100px 0 100px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 99.85%;
  background-color: rgba(1, 90, 163, 0.341);
  border: 1px solid rgba(255, 255, 255, 0.458);
}
.card {
  margin: 10px;
  background-color: rgba(2, 48, 86, 0.341);
  border: 1px solid rgba(255, 255, 255, 0.458);
  width: 30%;
  height: 90%;
  border-radius: 10px;
}

.datacont {
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.507);
  display: flex;
}

.dayscont {
  background-color: rgba(1, 15, 43, 0.715);
  width: 50%;
  width: 100%;
  transition: 1s ease;
}

.graphs {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(2, 7, 33);
  border: 1px solid rgb(90, 90, 90);
}

.rain {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

.weather {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.days {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(82, 82, 82, 0.125);
  justify-content: space-evenly;
}

.days h6 {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.529);
}

.titlebar {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(82, 82, 82, 0.548);
  align-items: center;
  padding: 5px 0 5px 0;

  justify-content: space-around;
}

.titlebar h6 {
  margin: 0;
  display: flex;
  justify-content: center;
}

.filter {
  background-color: rgba(2, 48, 86, 0.741);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgba(255, 255, 255, 0.458);
}

.recharts-responsive-container {
  height: 300px;
  width: 500px;
}

.containerWeather {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  width: 20%;
  margin-right: 20px;
}
.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(0, 0, 72);
  width: 100%;
}

.hourlyMain {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hourly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(0, 0, 72);
  width: 100%;
  padding-bottom: 30px;
}

.hourlycont {
  display: flex;
  width: 78%;
  margin-top: 70px;
}

.hourlybar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hours {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttons {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 33.333333%;
  border-radius: 0px;
  border: 1px solid gray;
  transition: background-color 1s ease;
}

.date {
  width: 10%;
}

.avg {
  width: 7.5%;
}
.r {
  width: 7.5%;
}
.sr {
  width: 12.5%;
}
.ss {
  width: 12.5%;
}
.mmoon {
  width: 17.5%;
}
.cond {
  width: 20%;
}
.link {
  width: 12.5%;
}

.active {
  background-color: rgba(0, 0, 89, 0.736);
}

.hourlybar h6 {
  display: flex;
  width: 10%;
  justify-content: center;
}

.hours h6 {
  display: flex;
  width: 10%;
  justify-content: center;
  margin: 0 0 5px 0;
}

.htemp {
  width: 10%;
}

.hfl {
  width: 10%;
}

.hgust {
  width: 10%;
}

.humidity {
  width: 10%;
}

.hpressure {
  width: 10%;
}

.hvis {
  width: 10%;
}

.hwindir {
  width: 10%;
}

.hwindspd {
  width: 10%;
}

.hwindchl {
  width: 10%;
}

.htime {
  width: 10%;
}
